 <div class="user-details">
  <h1> My Experience </h1>
  <!-- <p> {{site.user_description}} </p> -->
</div>
  <div class="user">
    <div class="tech">
      <!-- <h2 style="padding: 0; margin-top: 0;">Design</h2> -->
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <img src="experienceUCSC.jpg" alt="ucsc" class="experienceImg">
      <h3>University of California, <br>Santa Cruz <br>Web Applications</h3>
      <p style="display: block; max-width: 315px; height: auto; text-align: left;">At UCSC I assisted in unit test during application developments.
        I automated GUI testing via <i>Selenium Python</i>. I also assisted in maintaining over 200 sites through <i>Cascade CMS</i>. I customized
        CMS code blocks allowing for modulized <i>JavaScript</i> features including DOM manipulation. Another project I worked on I did code
        revisions on potential security vulnerabilities in <i>ColdFusion</i> including SQL injections and remote code executions. </p>
    </div>
    <!-- <div class="tech">
      <h2 style="padding: 0; margin-top: 0;">Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2 style="padding: 0;">Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
</div>
