<div id="footwrap" class="footer">
  <div class="container">
      <div class="col" id="firstCol">
        <p>
          <span class="footHead" id="contact">CONTACT</span>
        </p>
      </div>

      <div class="col">
        <p>
          <span class="footHead">Email</span><br/>
          <span class="footContent"><a href="mailto:nathphan510@gmail.com" class="mail">nathphan510@gmail.com</a> <br/></span>

          <span class="footHead">Phone</span><br/>
          <span class="footContent"><a href="tel:5102749896">(510) 274-9896</a> <br/></span>
        </p>

      </div>
      <div class="col">
        <p>
          <span class="footHead">Address</span><br/>
          <span class="footContent">
            5641 Pacific Grove Way <br/>
            Union City, CA 94587 <br/>
            United States of America <br/>
          </span>
        </p>
      </div>

      <div class="col">
        <p>
          <span class="footHead">SOCIAL LINKS</span>
          <br/>

          <a href="https://www.linkedin.com/in/nathanphan7413/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/nathphan"><i class="fab fa-github"></i></a>
        </p>
      </div>

  </div><!--/.container-->
</div><!--/.footer-->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
