<div class="user-details">
  <h1> Featured Projects
    <a href="allProjects.html" id="projectsMore">See more &#8618</a>
  </h1>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">
      Fortnite Quick Stats
      <a href="https://github.com/nathphan/Fortnite-Quick-Stats" target="_blank"><i class="fab fa-github" style="color: #ffcc00; margin-left: 5px;"></i></a>
      <a href="https://chrome.google.com/webstore/detail/fortnite-quick-stats/bmheljnmjkmolcdohhneolomndllodml" target="_blank"><i class="fas fa-external-link-alt" style="color: #ffcc00; margin-left: 5px;"></i></a>
    </h3>
      <h5 class="card-title">Chrome Extension, <i style="color: white; font-size: .85em;">developed with HTML5, CSS, JQuery, REST API, to track Fortnite players real-time statistics</i></h5>
    <p class="card-text">
      <ul->
        <li>Statistics from multiple game platforms</li>
        <li>Players’ info preservation across multiple sessions with chrome.storage API</li>
      </ul->
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">
      OneApp
      <a href="https://github.com/nathphan/oneapp" target="_blank"><i class="fab fa-github" style="color: #ffcc00; margin-left: 5px;"></i></a>
    </h3>
      <h5 class="card-title">Web Application,

        <i style="color: white; font-size: .85em;">Full-Stack JavaScript social media organizing web application developed in Node.js, Express.js, AngularJS, and MongoDB</i>
       </h5>
    <p class="card-text">
      <ul>
        <li>Allowed users to GET and POST data via Twitter API and Facebook SDK</li>
        <li>Saved encrypted OAuth tokens and secrets using bcryptjs to allow for single authentication</li>
        <li>Incorporated Mocha &amp; Chai unit testing frameworks to streamline backend development</li>
      </ul>
    </p>
  </div>
</div>


<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
 -->
